body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    width: 700px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

#message {
    margin: 10px 0;
    font-weight: bold;
}

.success {
    color: green;
}

.error {
    color: red;
}
