body {
    font-family: Arial;
    background-color: #f2f2f2;
}

.container {
    width: 400px;
    margin: 80px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

input {
    padding: 8px;
    width: 60%;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

.loading {
    display: none;
    color: blue;
    margin-top: 10px;
}

.error {
    color: red;
}

.success {
    margin-top: 15px;
}
